    <div class="room">
<!-- put this inside a main app controller so that I can use itemChoice later -->
<h3>
    You're standing in front of a pile of loot. Each item shimmers as though some sort of magical, or electrical, current runs through it. You want to examine everything- the crossbow (with quiver of arrows), the  softly shimmering stick that could be a magic wand(or might just be a stick with some fungus on it), and so many other interesting items. 
    But the light is dimming rapidly and you don't feel comfortable staying in this room a moment longer. You bend down, pick up the </h3>
             <form ng-model="itemChoice">
             	<select ng-model="itemChoice" id = "myList">
              	 <option value = "1">harp</option>
              	 <option value = "2">crossbow</option>
              	 <option value = "3">stick</option>
            	 <option value = "4">flashlight</option>
           		</select>
              --- {{itemChoice}}

   <h3>and quickly hurry:
    	<button type="submit" ng-click="player.addLoot(itemChoice)" ui-sref="color">deeper in</button>
      <button type="submit" ng-click="player.addLoot(itemChoice)" ui-sref="ledge2">outside</button>
</h3>
</form>
</div>

<!-- 
12/9: use ng-model (add an ng-controller to the html?) use this for reference if needed: http://www.learn-angular.org/#!/lessons/two-way-bindings

make a form with a drop down menu of the various items  (submit button should say ...) 
	ng-click calls the addItem function and the add the rest of the text function http://stackoverflow.com/questions/16813945/how-to-add-many-functions-in-one-ng-click
create a post route for whichever item is selected
	whi

the other function adds the last bit of text   (ng-show vs. hide?), with links to 2 new pages
	each link has a ui-sref on it -->
