    <div class="room">
<!-- put this inside a main app controller so that I can use itemChoice later -->
<h3>
    You're standing in front of a pile of loot. Each item shimmers as though some sort of magical, or electrical, current runs through it. You want to examine everything- the crossbow (with quiver of arrows), the  softly shimmering stick that could be a magic wand(or might just be a stick with some fungus on it), and so many other interesting items. 
    But the light is dimming rapidly and you don't feel comfortable staying in this room a moment longer. You bend down, pick up the </h3>
             <form ng-model="itemChoice">
             	<select ng-model="itemChoice" id = "myList">
              	 <option value = "1">harp</option>
              	 <option value = "2">crossbow</option>
              	 <option value = "3">stick</option>
            	 <option value = "4">flashlight</option>
           		</select>
              --- {{itemChoice}}

   <h3>and quickly hurry:
<!--    add the random directive to choose a random inside or outside room
 -->    	
      <button type="submit" ng-click="player.addLoot(itemChoice)" ui-sref="color">deeper in</button>
      <button type="submit" ng-click="player.addLoot(itemChoice)" ui-sref="ledge2">outside</button>
</h3>
</form>
</div>
